<header>
    <nav class="navigation-bar dark">
        <div class="navigation-bar-content">
            <a class="element brand" href="#">BeeBoo</a>
        </div>
    </nav>
</header>

<section ms-controller="ambulance">
    <ul ms-visible="beeboos.size()" ms-each-bb="beeboos" class="listview">
        <li class="list bg-lightBlue fg-white">
            <div class="list-content">
                <p>{{bb.createdAt}}</p>
                <p class="list-title">{{bb.msg}}</p>
            </div>
        </li>
    </ul>
    <div ms-visible="!beeboos.size()">
        no beeboo!
    </div>
</section>

<script type="text/javascript">
var ambulanceVM = avalon.define('ambulance', function (vm) {
    vm.beeboos = [];
});
// geddy.model.Beeboo.all({}, function (bbs) {
//     vm.beeboos = vm.beeboos.concat(bbs);
// })
geddy.io.addListenersForModels(['Beeboo']);
geddy.model.Beeboo.on('save', function (beeboo) {
    ambulanceVM.beeboos.unshift(beeboo);
});
// geddy.model.Beeboo.on('update', function (item) {
//     console.log(item);
// });
// geddy.model.Beeboo.on('remove', function (id) {
//     console.log('remove');
//     console.log(id);
// });
</script>