<header>
<!--     <nav class="navigation-bar">
        <div class="navigation-bar-content">
            <a class="element brand" href="#">BeeBoo</a>
        </div>
    </nav> -->
    <h1>BeeBoo</h1>
</header>

<section ms-controller="ambulance">
    <table class="table" ms-visible="beeboos.size()">
        <thead>
            <tr>
                <th class="text-left">Level</th>
                <th class="text-left">Time</th>
                <th class="text-left">Msg</th>
            </tr>
        </thead>
        <tbody ms-each-bb="beeboos">
            <tr ms-class="{{bb.level}}">
                <td>{{bb.level|uppercase}}</td>
                <td>{{bb.createdAt|date('hh:mm:ss')}}</td>
                <td>{{bb.msg}}</td>
            </tr>
        </tbody>
    </table>

    <div ms-visible="!beeboos.size()">
        <p>no beeboo!</p>
    </div>
</section>

<%- scriptLink('js/app.js', {type:'text/javascript'}) %>
<!--
<%- scriptLink('socket.io/socket.io.js', {type:'text/javascript'}) %>
<%- scriptLink('js/app2.js', {type:'text/javascript'}) %>
-->