<html>
<head>
    <title>wall</title>
</head>
<body>
wall
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:4000');
    socket.on('hello', function (data) {
        console.log(data);
        socket.emit('message', "hello from the browser");
    });
</script>
</body>
</html>