<div class="control-group">
  <label for="msg" class="control-label">msg</label>
  <div class="controls">
    <%- contentTag('input', beeboo.msg, {type:'text', class:'span6', name:'msg'}) %>
  </div>
</div>
<div class="control-group">
  <label for="time" class="control-label">time</label>
  <div class="controls">
    <%- contentTag('input', beeboo.time, {type:'datetime', class:'span3', name:'time'}) %>
  </div>
</div>
