<div class="hero-unit">
  <h2>All Beeboos</h2>
  <%- linkTo('Create a new Beeboo', addBeebooPath, {class: 'btn pull-right'}); %>
</div>

<div id="beeboos-list">
<% if (beeboos) { %>
<% for (var i = 0, ii = beeboos.length; i < ii; i++) { %>
  <div class="row list-item" id="beeboo-<%= beeboos[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(beeboos[i].msg, beebooPath(beeboos[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= beeboos[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>